<h1>All questions go here</h1>

<% if @questions %>
  <% @questions.each do |question| %>
    <h2><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
    <p>asked by <%= question.user.username %> | <%= question.answers.count %> answers | <%= question.comments.count %> comments</p>
  <% end %>
<% else %>
  <p>Sorry no questions</p>
<% end %>

<% if logged_in? %>
<p><a href="/questions/new">submit new question</a></p>
<% end %>
